{% extends 'base.html' %}
{% block content %}
<h1 class="h4">สมัคร Owner</h1>
<form method="post" enctype="multipart/form-data">
    <input class="form-control mb-2" name="full_name_th" placeholder="ชื่อ-สกุล (ไทย)">
    <input class="form-control mb-2" name="citizen_id" placeholder="เลขบัตรประชาชน">
    <input class="form-control mb-2" name="email" placeholder="อีเมล">
    <input class="form-control mb-2" type="password" name="password" placeholder="รหัสผ่าน">
    <input class="form-control mb-2" type="file" name="occupancy_pdf" accept="application/pdf">
    <button class="btn btn-primary">สมัคร</button>
</form>
{% endblock %}