Flask>=3.0
python-dotenv
Flask-WTF
email-validator
Flask-Login
Flask-Babel
Flask-Limiter
Flask-Migrate
SQLAlchemy>=2.0
alembic
Werkzeug
WTForms
Pillow
python-slugify
itsdangerous
pytest
pytest-flask
Faker