{% extends 'base.html' %}

{% block title %}หน้าล็อกอิน{% endblock %}

{% block content %}
    <h1>ล็อกอินเข้าสู่ระบบ</h1>
    <form method="POST" action="{{ action="{{ url_for('main.login') }} }}">
        <label for="username">ชื่อผู้ใช้:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">รหัสผ่าน:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">เข้าสู่ระบบ</button>
    </form>
{% endblock %}