{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <h1>Register as a new Owner</h1>
    <form method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Register</button>
    </form>
    <br>
    <a href="{{ url_for('main.login') }}">Already have an account? Login</a>
{% endblock %}